<nav class="navbar navbar-expand-md bg-body-light border-bottom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <i class="fa-solid fa-hotel"></i>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
          <a class="nav-link" href="/add">Add Listings</a>
        </div>
      </div>
    </div>
  </nav>